* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: #2d303d;
}

nav {
  /* background: #0d1126; */
  /* position: fixed; */
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    40deg,
    rgba(46, 59, 128, 1) 0%,
    rgba(0, 0, 0, 1) 50%
  );
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.element-left,
.element-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
}

nav img {
  width: 5em;
  filter: invert();
  transition-duration: 0.4s;
}

nav img:hover {
  transform: translate(0, -4px);
}

nav a {
  color: #9ba6de;
  font-weight: 600;
  margin: 0 1em;
  transition-duration: 0.4s;
  position: relative;
  z-index: 38;
}

nav a:hover {
  color: #fff;
}

ul {
  margin-left: 2em;
}

.genre-nav {
  opacity: 0;
  color: #c8d0ff;
  position: absolute;
  z-index: 0;
  left: 23em;
  background: #3c4788;
  border-radius: 0 0 9px 9px;
  transform: translate(0px, -40px);
  transition-duration: 0.4s;
  cursor: pointer;
}

.genre-nav p {
  font-size: 18px;
  padding: 9px 18px;
  /* z-index: 4; */
  position: relative;
}

.genre-nav p:hover {
  background: #1f2758;
}
/* #genre:hover + .genre-nav {
  opacity: 1;
  transform: translate(0px, 20px);
} */

.profil {
  font-size: 36px;
  filter: invert();
  display: flex;
}

#search {
  background: #383d57;
  border-radius: 50px;
  color: #fff;
  border: none;
  padding: 8px 11px;
  margin-right: 1em;
  width: 14em;
  transition-duration: 0.4s;
}

#search:focus {
  width: 23em;
  background: #6871a1;
  box-shadow: 0 0 41px #354bbb;
}

#search:hover {
  background: #6871a1;
  box-shadow: 0 0 41px #354bbb;
}

::placeholder {
  color: #c8d0ff;
}

.bloc-infos {
  position: absolute;
  bottom: 8em;
  left: 2em;
  color: #fff;
}

.titre-movie {
  font-size: 4em;
  text-shadow: 0 3px 34px BLACK;
}

.propriete-movie {
  margin: 1em 0;
}

.note {
  color: #35d735;
  text-shadow: 0 1px 3px black;
}

.duree {
  border: solid #fff 1px;
  padding: 2px 9px;
  border-radius: 34px;
}

.btn-watch {
  background: #1d2345;
  width: 8em;
  text-align: center;
  padding: 9px 0;
  margin: 1em 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
}

.btn-watch i {
  transform: translate(-30px, 3px);
  opacity: 0;
  transition-duration: 0.4s;
}

.btn-watch:hover i {
  transform: translate(-12px, 3px);
  opacity: 1;
}

.btn-watch:hover {
  background: #333d7a;
}

/* Annonce Film */

.breaking-bad {
  overflow: hidden;
  height: 32em;
  /* position: relative; */
  z-index: -2;
}

#banner-wall {
  width: 100%;
  filter: brightness(0.7);
  transition-duration: 0.4s;
  animation: breakingBad 6s;
  position: relative;
  z-index: -2;
}

@keyframes breakingBad {
  0% {
    width: 131%;
  }
  100% {
    width: 100%;
  }
}

#movies {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.list-movies {
  display: flex;
  align-items: center;
  transform: translate(10px, 0px);
  animation: listMovies 14s ease-in-out;
}

@keyframes listMovies {
  0% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-302px, 0px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}

.cover-movie img {
  width: 15em;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.4s;
}

/* .cover-movie img:hover {
  filter: brightness(1.3);
} */

.cover-movie {
  position: relative;
  margin: 2em;
}

.cover-movie i {
  opacity: 0;
  cursor: pointer;
  font-size: 5em;
  position: absolute;
  top: 117px;
  left: 93px;
  color: #fff;
  transition-duration: 0.4s;
}

.cover-movie:hover i {
  opacity: 1;
}

#cover-banner {
  opacity: 0;
  width: 9em;
  /* position: absolute; */
  z-index: 9;
  bottom: 9em;
  right: 21em;
  border: solid 4px #08786e;
  animation: apparition 3s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transition-duration: 0.4s;
  cursor: pointer;
}

.effet-banner-image {
  width: 23em !important;
}

.effet-description-cover {
  top: 8em !important;
  left: 3em !important;
}

#cover-banner:hover {
  box-shadow: 11px 11px 0 #013c37;
}

.description-cover {
  display: flex;
  position: absolute;
  top: 21em;
  right: 19em;
  transition-duration: 0.9s;
}
.cover-text {
  display: none;
  margin-left: 2em;
  font-size: 23px;
  color: #fff;
  text-shadow: 0px 4px 13px black;
}

.active-banner {
  width: 33em;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titre-movie-2 {
  color: #fff;
  margin-top: 8px;
  font-size: 23px;
}

.genre-movie {
  font-size: 16px;
  color: #828282;
}

.date {
  position: absolute;
  background: #000000cf;
  color: #fff;
  padding: 5px 15px;
  z-index: 2;
  border-radius: 6px;
  top: 6px;
  left: 6px;
}

.note-movie {
  background: #ff8331;
  z-index: 2;
  position: absolute;
  bottom: 5em;
  left: 7px;
  padding: 3px 9px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
}

.note-movie-good {
  background: #3b993b;
}

/* Footer */
footer {
  background: black;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-name {
  color: #fff;
  font-size: 21px;
  text-transform: capitalize;
}

footer a {
  font-size: 15px;
  color: #979797;
  margin: 4px 0;
}

#soblim:hover {
  color: #f8bb65;
}
