@import "./variables.css";

.title-section {
    font-size: var(--font-size-title);
    margin-bottom: 1em;
}

.subtitle {
    color: #99aeffb0;
    font-size: 17px;
    text-shadow: 0 0 21px #2d344e;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.title-container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    margin-bottom: 2em;
}

.paragraph {
    font-size: var(--font-size-paragraph);
    color: rgba(255, 255, 255, 0.882);
    line-height: 25px;
    margin: 2em 0;
}

section {
    margin: 7em 0;
}