.header {
    position: relative;
    height: 75vh;
    background: url('https://4kwallpapers.com/images/wallpapers/tulsa-king-2560x1080-9233.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 15em;
}

.title {
    font-size: 40px;
}

.headerContent {
    position: absolute;
    top: 50%;
    font-size: 20px;
    width: 35em;
}

.categorieList {
    display: flex;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}

.infos {
    font-size: 16px;
    opacity: 0.9;
}

.bannerFade {
    background: red;
    height: 2em;
}
