.container {
    position: relative;
}

.movies {
    display: flex;
    gap: 1em;
    overflow: hidden;
    max-width: 140em;
}

.carousel {
    position: relative;
    margin: 2em 0;
    width: 100%;
}

.poster {
    position: relative;
    height: 24em;
    border-radius: 5px;
    transition: .4s;
    object-fit: cover;
}

.poster:hover {
    width: 22em;
    border-radius: 5px 5px 0 0;

}

.activeCard {
    position: absolute;
    display: none;
    width: 22em;
    z-index: 4;
}

.title {
    font-size: 20px;
    font-weight: 600;
    white-space:nowrap;
}

.titleList {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 1em;
}

.titleList h1 {
    font-size: 3em;
    margin-bottom: 12px;
}

.titleList span {
    color: #99aeffb0;
    font-size: 15px;
}

.overview {
    font-size: 14px;
    line-height: 22px;
}

.movie {
    transition: .4s;
}

.movie img:hover .activeCard{
    position: absolute;
    top: 137px;
    display: block;
    background: #0000007d;
    padding: 1em;
    display: flex
;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(71px);
}

.arrowLeft {
    position: absolute;
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
    transform: rotate(180deg);
    z-index: 10;
}
.arrowRight {
    position: absolute;
    top: 50%;
    right: -31px;
    z-index: 10;
}