.container {
    position: relative;
}

.movies {
    display: flex;
    gap: 1em;
    overflow: hidden;
}

.carousel {
    position: relative;
    margin: 2em 0;
    width: 100%;
}

.movie {
    position: relative;
    transition: .4s;
}

.movie img {
    position: relative;
    border-radius: 20px;
}

.movie:hover .activeCard {
 
    display: flex;
    flex-direction: column;
    
    visibility: visible;
    opacity: 1;

    justify-content: space-between;
}

.movie img, .activeCard {
    width: 16em;
    height: 25em;
}
.activeCard {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 3px;
    background: #0000007d;
    padding: 1em;
    transition: opacity 0.3s ease-out;
    z-index: 4;
    gap: 16px;
    color: #fff;
    border-radius: 20px;
    backdrop-filter: blur(71px);
    z-index: 10;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}


.overview {
    font-size: 14px;
    line-height: 22px;
    background: #ffffff12;
    padding: 1em;
    border-radius: 24px;
}

.noneOverview{
    color: #ffffffa1;
    text-align: center;
}

.arrowLeft {
    position: absolute;
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
    transform: rotate(180deg);
    z-index: 10;
}
.arrowRight {
    position: absolute;
    top: 50%;
    right: -31px;
    z-index: 10;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 13px;
    justify-content: center;
}

.genreItem {
    background: #000000;
    padding: 11px 13px;
    border-radius: 54px;
}

.btnTrailer {
    background: #fff;
    transition: .4s;
    cursor: pointer;
}
.btnTrailer:hover {
    background: #d0b6ff;
}

@media screen and (max-width:425px) {
    .movie img, .activeCard {
        width: 10em;
        height: 16em;
    }
}