.container {
    position: relative;
}

.movies {
    display: flex;
    gap: 1em;
    overflow: hidden;
    max-width: 140em;
}

.carousel {
    position: relative;
    margin: 2em 0;
    width: 100%;
}


.movie img {
    position: relative;
    width: 22em;
    height: 33em;
    border-radius: 20px;
}

.movie:hover .activeCard{
    position: absolute;
    bottom: 0;
    background: #0000007d;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    border-radius:20px;
    backdrop-filter: blur(71px);
    height: 100%;
    visibility: visible;
    opacity: 1;
    z-index: 10;
    justify-content: space-between;
}

.activeCard {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out; /* animation de l’opacité */

    width: 22em;
    z-index: 4;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}

.titleList {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 1em;
}

.titleList h1 {
    font-size: 3em;
    margin-bottom: 12px;
}

.titleList span {
    color: #99aeffb0;
    font-size: 15px;
}

.overview {
    font-size: 14px;
    line-height: 22px;
}

.movie {
    transition: .4s;
}



.arrowLeft {
    position: absolute;
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
    transform: rotate(180deg);
    z-index: 10;
}
.arrowRight {
    position: absolute;
    top: 50%;
    right: -31px;
    z-index: 10;
}