
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px 12em;
  background: var(--color-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar a {
  font-size: 16px;
}

.navbar input,
.navbar button {
  padding: 9px 13px;
}

.navbar input {
  width: 8em;
  transition-duration: .4s;
  background: #ffffff57;
  border-radius: 44px;
  padding-left: 3em;
  color: #ffffffab;
}

.navbar input:focus {
  width: 20em;
  background: linear-gradient(45deg, #ffffff3c, #ffffff96);
}

.navbar button {
  background: #fff;
}

.searchMenu {
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  background: #14115840;
  border: 1px solid #ffffff;
  border-top: none;
  z-index: 20;
  max-height: 300px;
  overflow-y: auto;
  backdrop-filter: blur(43px);
}

.searchMenu .message {
  padding: 12px;
  font-size: 14px;
  opacity: 0.8;
}

.searchMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.searchMenu li {
  align-items: center;
  padding: 10px 12px;
  border-top: 1px solid #dbdaeebf;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

/* Image du film */
.searchMenu li img {
  object-fit: cover;
  border-radius: 4px;
}

.searchMenu li .placeholder {
  width: 46px;
  height: 69px;
  background: #ff2c2c;
  border-radius: 4px;
}

.searchMenu li span {
  font-size: 14px;
}

.rightElement {
  display: flex;
  align-items: center;
  gap: 1em;
}

.leftElement {
  display: flex;
  align-items: center;
  gap: 3em;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search i {
  position: absolute;
  color: #ffffff57;
  left: 9px;
  top: 9px;
}


.logo {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Liens */
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}



.search input {
  width: 14em;
  padding: 8px 0 8px 40px;
  border-radius: 55px;
  border: none;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.532);
}

/* Mobile */
@media (max-width: 768px) {
  .burger {
    display: block;
    position: fixed;
    right: 1em;
  }

  .links {
    position: absolute;
    top: 57px;
    right: 0;
    background: #0d0c1fc2;
    flex-direction: column;
    
    padding: 11em;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100vh;
    align-items: center;
    gap: 5em;
    backdrop-filter: blur(32px);
  }

  .links.open {
    transform: translateX(0);
  }
}


@media screen and (max-width:1024px) {
  .leftElement, .rightElement{
    display: none;
  }
}
