.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px 18em;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar a {
  font-size: 16px;
}

.navbar input,
.navbar button {
  padding: 9px 13px;
}

.navbar input {
  width: 8em;
  transition-duration: .4s;
  background: #ffffff57;
  border-radius: 44px;
  padding-left: 3em;
  color: #ffffffab;
}

.navbar input:focus {
  width: 20em;
  background: linear-gradient(45deg, #ffffff3c, #ffffff96);
}

.navbar button {
  background: #fff;
}

.rightElement {
  display: flex;
  align-items: center;
  gap: 1em;
}

.leftElement {
  display: flex;
  align-items: center;
  gap: 3em;
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  color: #ffffff57;
  left: 9px;
  top: 9px;
}
